/* body {
  height: 200px;
  background: linear-gradient(to bottom right, #D1C6F3,#E9BCAC),
}; */

.gradient-body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #FDE7EA, #FDEFDA);
  font-family: Verdana, Arial, sans-serif;
}

/*NavBar*/
.position-relative {
  background-color: #FAF9F6
}

.search-box {
  /* position: absolute; */
   /* top: 60px; adjust to be below your navbar */
  /* left: 100px;
  z-index: 1050; */
  float: right;
  width: 250px;
  margin-left: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.search-wrapper {
  position: absolute;
  /* top: 100%; */
  left: 290px; 
}

.clearfix::after {
  content: "";
  clear: none;
  display: table;
}

.search-button {
  float: right;
}